.steps-body {
  display: flex;
  flex-wrap: wrap;
}
.steps-body > div {
  flex: 1;
}

.context {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}
.padding-Steps1 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.padding-Steps2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.context > * {
  padding-left: 50px;
}
.context > button {
  margin-left: 50px;
}

.context > h3 {
  font-weight: bold;
  font-size: 3rem;
  color: #333;
}

.context > h4 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}
.symbol {
  width: 100px;
  height: 40px;
}

.context > p {
  max-width: 80ch;
  opacity: 0.9;
  color: #333;
}

.image-Steps {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
