.introduction {
  text-align: center;
  padding: 6rem 0;
  background: url("../../../../../public/Assets/intro-bg.jpg"); /* Specify your image URL */
  background-size: cover;
  background-position: center;
}

.introduction__title {
  font-size: 6.5rem;
  color: white;
  margin-bottom: 1rem;
}

.introduction__text {
  font-size: 2.25rem;
  color: white;
  max-width: 35rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.introduction__button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  transition: ease-out 0.4s;
}

.introduction__button:hover {
  color: white;
  background-color: #b60a0a;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

