.bg-color {
  background-color: #f7ede3;
}

.navbar-wines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 150px;
  margin-right: 70px;
}

.logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
  align-items: center;
  padding-top: 30px;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  transition: ease-out 0.3s;
}

.links a:hover {
  color: rgb(248, 76, 62);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(248, 76, 62);
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: red;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 950px) {
  .navbar-wines {
    justify-content: space-between;
    padding-inline: 4%;
  }
  .nav-btn {
    visibility: visible;
    opacity: 1;
    font-size: 1.5rem;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #f7ede3;
    transition: 1s;
    transform: translateY(-100vh);
    flex-direction: column;
    z-index: 1;
  }

  .responsive_nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    
    
  }
}
