
.bg-color{
  background-color: #F7EDE3;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 150px;
  margin-right: 70px;
}

.logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
  
  
}
.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  transition: ease-out 0.3s;
}

.links a:hover {
  color: rgb(248, 76, 62);
  text-decoration: underline; 
  text-underline-offset: 4px; 
  text-decoration-thickness: 2px; 
  text-decoration-color: rgb(248, 76, 62); 
}