.description-body {
  display: flex;
  height: 700px;
  flex-wrap: wrap;
}
.description-body > div {
  flex: 1;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}
.padding1 {
  padding-top: 50px;
  padding-bottom: 50px;
  
  
}
.padding2 {
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.description>*{
    padding-left: 50px;
}
.description>button{
    margin-left: 50px;
}

.description > h3 {
  font-weight: bold;
  font-size: 3rem;
  color: #333;
}

.description > h4 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}
.symbol {
  width: 100px;
  height: 40px;
}

.description > p {
  max-width: 80ch;
  opacity: 0.9;
  color: #333;
}

.description > button {
  width: 300px;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s ease;
  color: white;
  text-decoration: none;
  background-color: rgb(40, 40, 40);
}

.description > button:hover {
  transform: translateY(-5px) translateX(5px);

  color: white;
  background-color: #b60a0a;
  box-shadow: -4px 4px 8px 2px rgba(0, 0, 0, 0.5);
}
.image-part1 {
  background-image: url("../../../public/Assets/crama.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.image-part2 {
  background-image: url("../../../public/Assets/vinuri.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.image-part3 {
    background-image: url("../../../public/Assets/Poveste.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
